@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}


.max-w-xl {
  max-width: 50rem ;
}

.text-sm{
  font-size: 0.800rem;
}

.text-vm{
  font-size: 1rem;
}

.py-x {
  padding-top: 0.25rem /* 4px */;
  padding-bottom: 0.25rem /* 4px */;
}
